* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.main-menu::-webkit-scrollbar,
.--cart::-webkit-scrollbar {
    width: 0.4em;
}

.main-menu::-webkit-scrollbar:hover,
.--cart::-webkit-scrollbar:hover  {
    width: 1em;
}

.main-menu::-webkit-scrollbar-thumb,
.--cart::-webkit-scrollbar-thumb  {
    background-color: #ddd;
    border-radius: 50px;
}

body {
    background: rgba(238, 238, 238, 0.664);
}

.two-panes {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    padding: 1em;
    background: rgba(238, 238, 238, 0.664);
    padding-top: 90px;
}

.two-panes p {
    margin-bottom: 0 !important;
}

.two-panes .main-menu {
    padding: 0 1em;
    margin-right: 0.5em;
}

.two-panes .main-menu .search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;
}

.two-panes .main-menu .search-box .main-component {
    background: #fff;
    display: flex;
    align-items: center;
    min-width: 30%;
    border-radius: 10px;
    padding-left: 1em;
}

.two-panes .main-menu .search-box .main-component input {
    width: 80%;
}

.two-panes .main-menu .search-box .main-component button {
    width: 20%;
    transition: 0.4s;
}

.two-panes .main-menu .search-box .main-component button:hover {
    transform: scale(1.2);
}

.two-panes .main-menu .search-box .main-component button svg {
    width: 40px;
    height: 40px;
}

.two-panes .main-menu .search-box .main-component * {
    padding: 0.5em;
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.two-panes .main-menu .category-togglers {
    display: flex;
    margin-top: 2em;
}

.two-panes .main-menu .category-togglers .--toggler {
    display: flex;
    align-items: center;
    margin-right: 1.2em;
    padding: 0.25em 1em;
    padding-left: 0.25em;
    border-radius: 50px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
}

.two-panes .main-menu .category-togglers .--toggler .icon {
    margin-right: 1em;
}

.two-panes .main-menu .category-togglers .--toggler .icon svg {
    background: rgba(255, 0, 0, 0.096);
    color: #f00;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.two-panes .main-menu .category-togglers .--toggler.active,
.two-panes .main-menu .category-togglers .--toggler:hover {
    background: rgba(255, 0, 0, 0.096);
}

.two-panes .main-menu .category-togglers .--toggler.active i,
.two-panes .main-menu .category-togglers .--toggler:hover i {
    background: none;
}

.two-panes .main-menu .menu-items {
    margin-top: 3em;
    position: relative;
}

.two-panes .main-menu .menu-items .--title {
    padding: 0.5em 0;
}

.two-panes .main-menu .menu-items .--items {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 1.5em));
    column-gap: 2em;
    row-gap: 5em;
}

.two-panes .main-menu .menu-items .--items .--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.two-panes .main-menu .menu-items .--items .--item .art {
    width: 200px;
    height: 200px;
    background: #aaa;
    border-radius: 100%;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.two-panes .main-menu .menu-items .--items .--item .content {
    padding-top: 1.5em;
    width: 100%;
    position: relative;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    z-index: 2;
    color: #000;
}

.two-panes .main-menu .menu-items .--items .--item .content:after {
    background: #fff;
    content: "";
    width: 100%;
    height: 220%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}

.two-panes .main-menu .menu-items .--items .--item .content .title {
    font-size: 17px;
}

.two-panes .main-menu .menu-items .--items .--item .content .price {
    font-weight: bold;
    color: #f00;
}

.two-panes .main-menu .menu-items .--items .--item .content .quantity {
    font-size: 13px;
}

.two-panes .main-menu .menu-items .--items .--item .content .quantity i {
    font-style: unset;
}

.two-panes .main-menu .menu-items .--items .--item .content .actions {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.two-panes .main-menu .menu-items .--items .--item .content .actions button {
    padding: 0.7em 2em;
    background: #f00;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0 0.5em;
}

.two-panes .main-menu .menu-items .--items .--item .content .actions button:active {
    opacity: 0.7;
}

.two-panes .main-menu .menu-items .--items .--item .content .actions .--details {
    background: none;
    border: 1px solid #000;
    color: #000;
}

.two-panes .item-display {
    padding: 1em;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-panes .item-display .--header {
    display: flex;
    justify-content: space-between;
}

.two-panes .item-display .--header>div {
    display: flex;
    flex-direction: column;
}

.two-panes .item-display .--cart {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.two-panes .item-display .--cart>.--item {
    display: flex;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.two-panes .item-display .--cart>.--item .art {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #aaa;
    margin-right: 1em;
}

.two-panes .item-display .--cart>.--item .description {
    display: flex;
    flex-direction: column;
}

.two-panes .item-display .--cart>.--item .description>.title {
    font-weight: bold;
}

.two-panes .item-display .--cart>.--item .description .notables .--item {
    display: flex;
    align-items: center;
    font-size: 13px;
    opacity: 0.7;
}

.two-panes .item-display .--cart>.--item .description .notables .--item .title {
    margin-right: 5px;
}

.two-panes .item-display .--cart>.--item .description .notables .--item .title:after {
    content: ":";
    height: 100%;
}

.two-panes .item-display .--cart>.--item .description .price {
    font-size: 13px;
    font-weight: bold;
}

.two-panes .item-display .--cart>.--item .description .quantity {
    margin-top: 0.5em;
    display: flex;
}

.two-panes .item-display .--cart>.--item .description .quantity .value {
    padding: 0 1em;
    font-size: 13px;
}

.two-panes .item-display .--cart>.--item .description .quantity button {
    border: none;
    background: #eee;
    border-radius: 100%;
    padding: 0.1em 0.35em;
    font-size: 11px;
}

.two-panes .item-display .--summary {
    height: 20%;
}

.two-panes .item-display .--summary .--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 0.25em 0;
}

.two-panes .item-display .--summary .--item.total {
    border-top: 1px dashed #eee;
    margin-top: 0.5em;
}

.two-panes .item-display .--checkout {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.two-panes .item-display .--checkout button {
    width: 60%;
    background-color: #f00;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.7em;
    margin: auto;
    border-radius: 10px;
}

.cart-mobile-toggler, .close-cart {
    opacity: 0;
}

@media (max-width: 1050px) {
    .two-panes .main-menu .menu-items .--items {
        grid-template-columns: repeat(2, calc(50% - 1.5em));
    }
}

@media (max-width: 720px) {
    .two-panes .item-display {
        position: fixed;
        right: -150%;
        top:50%;
        transform: translate(0, -50%);
        z-index: 5;
        transition: right 0.5s;
    }

    .cart-overlay.active {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        background-color:rgba(0, 0, 0, 0.096);
        backdrop-filter: blur(10px);
    }

    .two-panes .item-display.open {
        right: 0;
    }

    .two-panes .main-menu .menu-items .--items {
        grid-template-columns: 100%;
    }

    .two-panes {
        grid-template-columns: 100% 0;
    }

    .two-panes .item-display .close-cart{
        color: #333;
        padding: 0.5em;
        margin-right: auto;
        border-radius: 50px;
        opacity: 1;
    }

    .cart-mobile-toggler {
        padding: 0.7em 1.2em;
        border-radius: 50px;
        color: #fff;
        background: #333;
        position: fixed;
        bottom: 2em;
        right: 2em;
        z-index: 4;
        opacity: 1;
        display: none;
    }

    .cart-mobile-toggler.active {
        display: flex;
    }
}

@media (max-width: 430px) {
    .two-panes .item-display {
        width: 100%;
        height: 100%;
    }

    
}

@media (min-width: 992px){
    .navbar-dark .navbar-nav .nav-link{
        color: #333 !important;
    }
}