* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
  height: auto;
  width: auto;
}

.button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: righteous;
  src: url("../fonts/righteous-regular.ttf");
}
.hero {
  width: 100%;
  height: calc(100vh - 80px);
}
.hero .hero-section {
  height: 100%;
  width: 100%;
}
.hero .hero-section .hero-section-container {
  width: 100%;
  height: 100%;
}
.hero .hero-section .hero-section-container .hero-content h1 {
  font-size: 4.6rem;
  font-family: righteous;
  line-height: calc(4.6rem + 12px);
}
.hero .hero-section .hero-section-container .hero-content p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .button {
  background: #ff006e;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 3px solid #ff006e;
  margin-right: 20px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .button:hover {
  color: #ff006e;
  background: transparent;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button {
  padding: 8px 20px;
  background: transparent;
  color: #ff006e;
  border: 3px solid #ff006e;
  width: auto;
  height: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-flex;
  align-items: center;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button .icon {
  font-size: 1.5rem;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button .text {
  margin-left: 18px;
}
.hero .hero-section .hero-section-container .hero-image {
  position: relative;
  height: auto;
}
.hero .hero-section .hero-section-container .hero-image img {
  max-width: 524px;
}

.popular-dishes {
  width: 100%;
  height: auto;
}
.popular-dishes .popular-dishes-header h2 {
  font-family: poppins-semibold;
  font-size: 2rem;
  font-family: righteous;
}
.popular-dishes .popular-dishes-header .slider-nav {
  display: flex;
  align-items: center;
}
.popular-dishes .popular-dishes-header .slider-nav button {
  padding: 0px;
  width: 40px;
  height: 40px;
  background: transparent;
  color: #ff006e;
  border: 3px solid #ff006e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-dishes .popular-dishes-header .slider-nav button:not(:first-child) {
  margin-left: 10px;
}
.popular-dishes .popular-dishes-header .slider-nav button:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.popular-dishes .slider-element {
  margin-top: 40px;
}
.popular-dishes .slider-element .slider-content {
  width: 90%;
  height: auto;
}/*# sourceMappingURL=home.css.map */