* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
  height: auto;
  width: auto;
}

.button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: righteous;
  src: url("../fonts/righteous-regular.ttf");
}
.hero {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 20px 0px;
}
.hero .hero-section {
  height: 100%;
  width: 100%;
}
.hero .hero-section .hero-section-container {
  width: 100%;
  height: 100%;
}
.hero .hero-section .hero-section-container .hero-content h1 {
  font-size: clamp(2.5rem, 10vw, 4.6rem);
  font-family: righteous;
  line-height: calc(clamp(2.5rem, 10vw, 4.6rem) + 12px);
  width: 97%;
}
.hero .hero-section .hero-section-container .hero-content p {
  width: 95%;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .button {
  background: #ff006e;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 3px solid #ff006e;
  margin-right: 20px;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .button:hover {
  color: #ff006e;
  background: transparent;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button {
  padding: 8px 20px;
  background: transparent;
  color: #ff006e;
  border: 3px solid #ff006e;
  width: auto;
  height: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: inline-flex;
  align-items: center;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button .icon {
  font-size: 1.5rem;
}
.hero .hero-section .hero-section-container .hero-content .hero-actions .search-box .search-button .text {
  margin-left: 18px;
}
.hero .hero-section .hero-section-container .hero-image {
  position: relative;
  height: auto;
}
.hero .hero-section .hero-section-container .hero-image img {
  max-width: 524px;
}

.popular-dishes {
  width: 100%;
  height: auto;
}
.popular-dishes .popular-dishes-header h2 {
  font-family: poppins-semibold;
  font-size: 2rem;
  font-family: righteous;
}
.popular-dishes .popular-dishes-header .slider-nav {
  display: flex;
  align-items: center;
}
.popular-dishes .popular-dishes-header .slider-nav button {
  padding: 0px;
  width: 40px;
  height: 40px;
  background: transparent;
  color: #ff006e;
  border: 3px solid #ff006e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-dishes .popular-dishes-header .slider-nav button:not(:first-child) {
  margin-left: 10px;
}
.popular-dishes .popular-dishes-header .slider-nav button:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

.services {
  width: 100%;
  padding: 150px 0px;
}
.services .service-image {
  position: relative;
}
.services .service-image .side-image {
  position: absolute;
  max-width: 150px;
}
.services .service-image .top {
  top: 0px;
  right: 0px;
}
.services .service-image .bottom {
  bottom: 0px;
  left: 0px;
}
.services .service-content {
  padding-left: 3.2%;
}
.services .service-content h1 {
  font-size: 3rem;
  font-family: righteous;
}
.services .service-content .service-description {
  font-size: 1.35rem;
  color: rgba(0, 0, 0, 0.7);
}
.services .service-content .service-card-container {
  width: 100%;
  margin-top: 50px;
}
.services .service-content .service-card-container .service-card {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.services .service-content .service-card-container .service-card .service-card-image {
  width: 50px;
  height: 50px;
  border: dashed 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 2rem;
  color: #fbbf09;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.services .service-content .service-card-container .service-card .service-card-title {
  margin: 0px;
  margin-left: 20px;
  font-size: 1.35rem;
  font-family: righteous;
  color: rgba(0, 0, 0, 0.75);
}
.services .service-content .button {
  margin-top: 20px;
  background: #ff006e;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 3px solid #ff006e;
}
.services .service-content .button:hover {
  background: transparent;
  color: #ff006e;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

.menu-pack .pack-title {
  font-size: 3rem;
  font-family: righteous;
  text-align: center;
}
.menu-pack .pack-menus {
  width: 100%;
  margin-top: 30px;
}
.menu-pack .pack-menus .menu-btn {
  display: flex;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px;
  border: 3px solid #ff006e;
  justify-content: center;
  font-family: poppins-semibold;
  cursor: pointer;
  margin-right: 1.7%;
}
.menu-pack .pack-menus .menu-btn p {
  padding: 0px;
  margin: 0px;
}
.menu-pack .pack-menus .menu-btn a {
  color: black;
}
.menu-pack .pack-menus .link-btn {
  padding: 0px;
}
.menu-pack .pack-menus .link-btn a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ff006e;
}
.menu-pack .pack-menus .active-btn {
  background: #ff006e;
  color: white;
}
.menu-pack .dishes-container {
  margin-top: 50px;
}
.menu-pack .dishes-container .dishes-content {
  margin-right: 4.1%;
  margin-bottom: 30px;
}

.review {
  padding: 150px 0px;
}
.review .review-header-content h1 {
  font-size: 2.4rem;
  font-family: righteous;
}
.review .review-header-content .review-nav {
  display: flex;
  align-items: center;
}
.review .review-header-content .review-nav button {
  padding: 0px;
  width: 40px;
  height: 40px;
  background: transparent;
  color: #ff006e;
  border: 3px solid #ff006e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review .review-header-content .review-nav button:not(:first-child) {
  margin-left: 10px;
}
.review .review-header-content .review-nav button:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}

.teams {
  padding-top: 0px;
}

@media only screen and (max-width: 991px) {
  .hero {
    height: auto;
    max-height: unset;
    text-align: center;
    padding-bottom: 100px;
  }
  .hero .hero-section .hero-section-container .hero-content .hero-actions {
    justify-content: center;
  }
  .hero .hero-section .hero-section-container .hero-image {
    margin-top: 40px;
  }
}/*# sourceMappingURL=home.css.map */