* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
  height: auto;
  width: auto;
}

.button {
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: inline-flex;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: righteous;
  src: url("../fonts/righteous-regular.ttf");
}
body {
  width: 100%;
  min-height: 100%;
  background: #fcf3f7;
  font-family: poppins;
}
body .slider-element {
  margin-top: 40px;
}
body .slider-element .slider-content {
  width: 90%;
  height: auto;
}
body .animation-content {
  width: 100%;
  position: relative;
}
body .animation-content .image-fader {
  width: 100%;
  height: auto;
  position: relative;
}
body .animation-content .image-fader .anim-content {
  width: 100%;
  position: absolute;
  opacity: 0;
  left: 0px;
  top: 0px;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  -o-transition: 1s ease all;
}
body .animation-content .image-fader .active {
  position: relative;
  opacity: 1;
}
body .animation-content .animation-tags {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  right: 0px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
body .animation-content .animation-tags .tag {
  padding: 10px 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  border-radius: 50px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  align-items: center;
  background: white;
}
body .animation-content .animation-tags .tag:not(:first-child) {
  margin-top: 20px;
}
body .animation-content .animation-tags .tag .tag-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ff006e;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .animation-content .animation-tags .tag .tag-image img {
  width: 95%;
}
body .animation-content .animation-tags .active {
  background: #ff006e;
}
body .animation-content .animation-tags .active .tag-image {
  background: white;
}
body .animation-content .animation-tags .active .tag-text {
  color: white;
}
body .dish-card {
  width: 100%;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body .dish-card .dish-image {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
body .dish-card .dish-image img {
  width: 100%;
}
body .dish-card .dish-name {
  font-family: righteous;
  margin-top: 20px;
}
body .dish-card .rating {
  color: #fbbf09;
  font-size: 1.5rem;
  display: flex;
}
body .dish-card .rating span:not(:first-child) {
  margin-left: 5px;
}
body .dish-card .description {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.7);
}
body .dish-card .dish-action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
body .dish-card .dish-action h2 {
  font-family: righteous;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
}
body .dish-card .dish-action .button {
  border: 3px solid #ff006e;
  color: #ff006e;
  background: transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px 20px;
}
body .dish-card .dish-action .button:hover {
  color: white;
  background: #ff006e;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .customer-review-card {
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #ffe6f1;
}
body .customer-review-card p {
  font-size: 1.1rem;
}
body .customer-review-card .review-details {
  display: flex;
  align-items: center;
}
body .customer-review-card .review-details .review-image {
  width: 80px;
  height: 80px;
  background: #fcf3f7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
body .customer-review-card .review-details .review-image img {
  width: 100%;
}
body .customer-review-card .review-details h2 {
  font-size: 1.3rem;
  font-family: righteous;
}
body .team-card {
  width: 100%;
  height: auto;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  text-align: center;
}
body .team-card .team-card-image {
  width: 100%;
  height: 300px;
  background: #fcf3f7;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
body .team-card .team-card-image img {
  width: 100%;
  min-height: 100%;
}
body .team-card h2 {
  font-family: righteous;
  margin-top: 20px;
}
body header {
  height: 80px;
  background: #fcf3f7;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 9999;
}
body header .header-content {
  height: 100%;
  width: 100%;
}
body header .header-content .logo {
  width: 50px;
  height: 50px;
}
body header .header-content .header-links {
  width: auto;
}
body header .header-content .header-links ul {
  display: flex;
  align-items: center;
  list-style: none;
}
body header .header-content .header-links ul li:not(:first-child) {
  margin-left: 80px;
}
body header .header-content .header-links ul li a {
  font-size: 1.1rem;
  position: relative;
  color: black;
  font-family: poppins-semibold;
}
body header .header-content .header-links ul li a::after {
  position: absolute;
  content: "";
  left: 0px;
  background: black;
  width: 0%;
  bottom: -4px;
  height: 3px;
}
body header .header-content .header-links ul li a:hover::after {
  width: 100%;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body header .header-content .header-links ul li.active-link a {
  color: #ff006e;
}
body header .header-content .header-links ul li.active-link a::after {
  position: absolute;
  content: "";
  left: 0px;
  background: #ff006e;
  width: 100%;
  bottom: -4px;
  height: 3px;
}
body header .header-content .header-links ul li.bordered-link a {
  display: inline-flex;
  border: 3px solid #ff006e;
  color: #ff006e;
  border-radius: 5px;
  -webkit-border-radius: 5p;
  -moz-border-radius: 5p;
  -ms-border-radius: 5p;
  -o-border-radius: 5p;
  padding: 8px 20px;
}
body header .header-content .header-links ul li.bordered-link a:hover {
  background: #ff006e;
  color: white;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body header .header-content .header-links ul li.bordered-link a:hover::after, body header .header-content .header-links ul li.bordered-link a::after {
  width: 0%;
}
body header .header-content .header-links ul li.background-link a {
  display: inline-flex;
  border: 3px solid #ff006e;
  background: #ff006e;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5p;
  -moz-border-radius: 5p;
  -ms-border-radius: 5p;
  -o-border-radius: 5p;
  padding: 8px 20px;
}
body header .header-content .header-links ul li.background-link a:hover {
  background: transparent;
  color: #ff006e;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body header .header-content .header-links ul li.background-link a:hover::after, body header .header-content .header-links ul li.background-link a::after {
  width: 0%;
}
body header .header-content .mobile-link-btn {
  display: none;
}
body header .header-content .mobile-link-btn .open-mobile-link-btn {
  border: 2px solid #ff006e;
  color: #ff006e;
  background: transparent;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.3rem;
}
body .mobile-nav-links .close-mobile-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
}
body .mobile-nav-links .mobile-links {
  width: 100%;
  margin-top: 80px;
  list-style: none;
}
body .mobile-nav-links .mobile-links li a {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  padding-left: 50px;
  font-weight: bold;
  color: black;
}
body .mobile-nav-links .mobile-links li:not(:first-child) {
  margin-top: 20px;
}
body .mobile-nav-links .mobile-links li.active-link a {
  background: #ff006e;
  color: white;
}
body .body-content {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 80px;
}
body footer .footer-container {
  width: 100%;
}
body footer .footer-container .footer-title {
  font-size: 1.3rem;
  font-family: poppins-semibold;
}
body footer .footer-container .link {
  font-size: 1.1rem;
  list-style: none;
  margin-top: 20px;
}
body footer .footer-container .link li {
  color: rgba(0, 0, 0, 0.8);
}
body footer .footer-container .link li:not(:first-child) {
  margin-top: 30px;
}
body footer .footer-container .link li a {
  color: rgba(0, 0, 0, 0.8);
  display: inline-flex;
}
body footer .footer-container .link li a .icon {
  font-size: 1.5rem;
  margin-right: 5px;
}
body footer .footer-container .footer-logo-content {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body footer .footer-container .footer-logo-content .footer-logo {
  width: 70px;
  height: 70px;
}
body footer .footer-container .footer-content {
  margin-top: 30px;
}
body footer .footer-container .footer-details {
  margin-bottom: 30px;
}
body footer .footer-container .footer-contact h1 {
  font-family: poppins-semibold;
}
body footer .footer-container .footer-contact .form-content {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
body footer .footer-container .footer-contact .form-content input {
  height: 100%;
  width: calc(100% - 50px);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  outline: none;
  padding: 0px 10px;
  background: transparent;
}
body footer .footer-container .footer-contact .form-content button {
  width: 40px;
  height: 40px;
  background: #ff006e;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .footer-container .footer-contact .social-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 30px;
}
body footer .footer-container .footer-contact .social-links li:not(:first-child) {
  margin-left: 10px;
}
body footer .footer-container .footer-contact .social-links li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #ff006e;
  color: #ff006e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
  body header .header-content .desktop-links {
    display: none;
  }
  body header .header-content .mobile-link-btn {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */