@import "./style";
@import "./variables";

//this is the general style that styles the header and footer section

body{
    width: 100%;
    min-height: 100%;
    background: getColor("generalBackground");
    font-family: poppins;

    .animation-content{
        width: 100%;
        position: relative;

        .image-fader{
            width: 100%;
            height: auto;
            position: relative;
    
            .anim-content{
                width: 100%;
                position: absolute;
                opacity: 0;
                left: 0px;
                top: 0px;
                transition: 1s ease all;
                -webkit-transition: 1s ease all;
                -moz-transition: 1s ease all;
                -ms-transition: 1s ease all;
                -o-transition: 1s ease all;
            }
    
            .active{
                position: relative;
                opacity: 1;
            }
    
        }
    
        .animation-tags{
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            right: 0px;
            display: flex;
            flex-direction: column;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);

            .tag{
                padding: 10px 20px;
                padding-left: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
                display: inline-flex;
                border-radius: 50px;
                -webkit-border-radius: 5;
                -moz-border-radius: 5;
                -ms-border-radius: 5;
                -o-border-radius: 5;
                align-items: center;
                background: white;

                &:not(:first-child){
                    margin-top: 20px;
                }

                .tag-image{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    background: getColor("primary");
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 95%;
                    }
                }
            }

            .active{
                background: getColor("primary");

                .tag-image{
                    background: white;
                }

                .tag-text{
                    color: white;
                }
            }
    
        }
    }


    header{
        height: getMeasurement("headerHeight");
        background: getColor("generalBackground");
        width: 100%;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: 9999;

        .header-content{
            height: 100%;
            width: 100%;
            
            .logo{
                width: 50px;
                height: 50px;
    
            }

            .header-links{
                width: auto;

                ul{
                    display: flex;
                    align-items: center;
                    list-style: none;

                    li{

                        &:not(:first-child){
                            margin-left: 80px;
                        }

                        a{
                            font-size: 1.1rem;
                            position: relative;
                            color: getColor("default");
                            font-family: poppins-semibold;

                            &::after{
                                position: absolute;
                                content: "";
                                left: 0px;
                                background: getColor("default");
                                width: 0%;
                                bottom: -4px;
                                height: 3px;

                            }

                            &:hover::after{
                                width: 100%;
                                transition: 0.5s ease all;
                                -webkit-transition: 0.5s ease all;
                                -moz-transition: 0.5s ease all;
                                -ms-transition: 0.5s ease all;
                                -o-transition: 0.5s ease all;
                            }
                        }

                        &.active-link{

                            a{
                                color: getColor("primary");

                                &::after{
                                    position: absolute;
                                    content: "";
                                    left: 0px;
                                    background: getColor("primary");
                                    width: 100%;
                                    bottom: -4px;
                                    height: 3px;

                                }

                            }
                        }

                        &.bordered-link{
                            
                            a{
                                display: inline-flex;
                                border: 3px solid getColor("primary");
                                color: getColor("primary");
                                border-radius: 5px;
                                -webkit-border-radius: 5p;
                                -moz-border-radius: 5p;
                                -ms-border-radius: 5p;
                                -o-border-radius: 5p;
                                padding: 8px 20px;

                                &:hover{
                                    background: getColor("primary");
                                    color: getColor("defaultTwo");
                                    transition: 0.5s ease all;
                                    -webkit-transition: 0.5s ease all;
                                    -moz-transition: 0.5s ease all;
                                    -ms-transition: 0.5s ease all;
                                    -o-transition: 0.5s ease all;
                                }

                                &:hover::after,
                                &::after{
                                    width: 0%;
                                    
                                }
                            }
                        }

                        &.background-link{

                            a{
                                display: inline-flex;
                                border: 3px solid getColor("primary");
                                background: getColor("primary");
                                color: getColor("defaultTwo");
                                border-radius: 5px;
                                -webkit-border-radius: 5p;
                                -moz-border-radius: 5p;
                                -ms-border-radius: 5p;
                                -o-border-radius: 5p;
                                padding: 8px 20px;

                                &:hover{
                                    background: transparent;
                                    color: getColor("primary");
                                    transition: 0.5s ease all;
                                    -webkit-transition: 0.5s ease all;
                                    -moz-transition: 0.5s ease all;
                                    -ms-transition: 0.5s ease all;
                                    -o-transition: 0.5s ease all;
                                }
                                

                                &:hover::after,
                                &::after{
                                    width: 0%;
                                    
                                }
                            }

                        }
                    }
                }
            }
        }

    }

    .body-content{
        width: 100%;
        height: auto;
        min-height: 100vh;
        padding-top: getMeasurement("headerHeight");
    }

    footer{

        .footer-container{
            width: 100%;

            .footer-title{
                font-size: 1.3rem;
                font-family: poppins-semibold;
            }

            .link{
                font-size: 1.1rem;
                list-style: none;
                margin-top: 20px;

                li{
                    color: rgba(0, 0, 0, .8);

                    &:not(:first-child){
                        margin-top: 30px;
                    }

                    a{
                        color: rgba(0, 0, 0, .8);
                        display: inline-flex;
                        

                        .icon{
                            font-size: 1.5rem;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .footer-logo-content{
                padding: 20px 0px;
                border-bottom: 1px solid rgba(0, 0, 0, .2);

                .footer-logo{
                    width: 70px;
                    height: 70px;

                }

            }

            .footer-content{
                margin-top: 30px;
            }

            .footer-contact{

                h1{
                    font-family: poppins-semibold;
                }

                .form-content{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;

                    input{
                        height: 100%;
                        width: calc(100% - 50px);
                        border: none;
                        border-bottom: 2px solid rgba(0, 0, 0, .6);
                        outline: none;
                        padding: 0px 10px;
                        background: transparent;
                    }

                    button{
                        width: 40px;
                        height: 40px;
                        background: getColor("primary");
                        color: getColor("defaultTwo");
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .social-links{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin-top: 30px;

                    li{


                        &:not(:first-child){
                            margin-left: 10px;
                        }

                        a{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            border: 2px solid getColor("primary");
                            color: getColor("primary");
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}